/* Alert */
.alert-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.alert-primary {
    background: hsl(var(--nextui-primary));
    color: #fff;
}

.alert-container p {
    font-size: 12px;
}